camel-wsdl-db-orch-route/wsdl/validar.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6. --><xs:schema xmlns:tns="http://sei.dinardap.info.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sei.dinardap.info.com/">

<xs:element name="validar" type="tns:validar"></xs:element>

<xs:element name="validarResponse" type="tns:validarResponse"></xs:element>

<xs:complexType name="validar">
<xs:sequence>
<xs:element name="irc" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="cedula" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>